<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="debug"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.usfirst.frc3620.batterytester.Application$BatteryTestStatusWriter" level="info" additivity="true"/>
        <Logger name="org.usfirst.frc3620.batterytester.BatteryTester" level="info" additivity="true"/>
        <Logger name="org.usfirst.frc3620.batterytester.FakeBattery" level="info" additivity="true"/>
        <Logger name="org.usfirst.frc3620.batterytester.RealBattery" level="debug" additivity="true"/>

        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>